.catalog {
    margin-top: 15px;
    height:100vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;


  }
  .catalog__product {
    height: 290px;
    flex: 1 290px;
    max-width: 290px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #e4e5ec;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }
  .catalog__product:hover {
    border: 2px solid #61d4df;
  }
  .catalog__product--border {
    border: 2px solid #d723dd;
  }
  .catalog__prices {
    border-top: 1px solid #e4e5ec;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .catalog__photo {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .catalog__photo img {
    max-width: 100%;
    max-height: 100%;
  }
  .catalog__title {
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
  }
  