.search__content {
    display: flex;
  }
  
  .search__input {
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: #fff;
    outline: none;
    border: -1px solid var(--border-color);
    border-right: none;
  }
  
  .header__searchbtn {
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: #D8D6D6;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    border-left: none;
    padding: 7px 13px;
    margin-right: 14px;
  }
  @media only screen and (max-width: 1200px) {
    .search__input {
      width: 100px;
    }
  }
  @media only screen and (max-width: 968px) {
    .search__input {
      width: 300px;
    }
  }
  @media only screen and (max-width: 576px) {
    .search__input {
      display: none;
    }
    .header__searchbtn {
      border-radius: 3px;
      border-left: 1px solid var(--border-color);
      padding: 5px 10px;
      background-color: transparent;
    }
  }