:root {
  --main-color: #61d5df;
  --bg-color: #f8f9fa;
  --max-size: 100%;
  --catalog-title: #29304b;
  --catalog-price: #707587;
  --border-color: #e4e5ec;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
  
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(205, 234, 240);

}

/* .Content{ 
  height: 100%;
  padding-left: 270px;
  width: 100%;
  display: flex;
  flex-basis: 500px;
} */

.catalog {
  margin-top: 15px;
  height:100vh;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;


}
.catalog__product {
  height: 290px;
  flex: 1 290px;
  max-width: 290px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.catalog__product:hover {
  border: 2px solid #61d4df;
}
.catalog__product--border {
  border: 2px solid #d723dd;
}
.catalog__prices {
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__photo {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.catalog__photo img {
  max-width: 100%;
  max-height: 100%;
}
.catalog__title {
  padding-left: 5px;
  padding-right: 5px;
  text-align: justify;
}



